.pro-img1{
	width: 70%;
	
}

.textplace{
	width: 30px;
	height: 20px;
}

.blank{
	width: 350px;
	

}

.space{
	margin: 5px;
}

.panel-body{
	border: 1px solid;
}
.panel-heading{
	border: 1px solid;

}




